{% extends 'almaty/base.html' %}

{% block content %}

	<div class="container">
		<div class="row">
		<div class="col-lg-12 mb-12 mb-md-0">
		<h2 class="text-center title"> Отдых</h2>
			
		</div>
		
		<div class="col-lg-12">
			<div class="row">
     {% for relax in relaxes %}
				  <div class="col-md-4 col-sm-6">
          
                
            		<div class="places">
             			<img class="pl_images" src="/static/images/{{relax.first_photo}}" alt="">
             			<h2 class="names"><a href="{% url 'detail' pk=relax.pk %}" id="detail" >{{relax.title}} </a></h2>
             			<p class="address"><img src="/static/images/location.png" class="location">{{relax.addr}}</p>
					      </div>
                  
          </div>
          
          {% endfor %}

				
			</div>
		</div>
			</div>

{% endblock %}

